@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }

  footer {
    background-image: linear-gradient(
      to top,
      #1d1d26,
      #1b1b24,
      #181922,
      #161621,
      #14141f
    );
  }

  .container {
    @apply max-w-full mx-auto px-5 w-[1240px];
  }

  label {
    cursor: pointer;
  }
}
